a, div {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
}

.nav-button {
    display: block;
    height: 50px;
    width: 100%;
    background-color: darksalmon;
    border: 2px solid gray;

    color: white;
    text-align: center;

    margin: 5px;
    
    background: linear-gradient(top, darksalmon, #2f5f63);
    border-radius: 5px;
}

a.nav-button {
    text-decoration: none;
}

a.nav-button:hover {
    background-color: salmon;
}

.nav-bar {
    float: left;
    width: 15%;
    background-color: darkgray;
}

.content {
    float: left;
    width: 85%;
    background-color: chartreuse;
}

