/* || GENERAL STYLES */
a,
div {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

#layout {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    width: 98vw;
}

iframe {
    background: #fff;
    border: none;
    width: 85%;
}
